@model IEnumerable<TSB100_lab.Models.RESTServicePosts>
@{
    ViewBag.Title = "Att-göra";
}

<h2>Att-göra lista</h2>

<table class="table">
    <tr>
        <th>
            Skapare
        </th>
        <th>
            Inlägg
        </th>
        <th></th>
    </>

    @foreach (var item in Model)
    {
        <tr class="content">
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            @if (item.Important == true)
            {
                <td style="font-weight: bold">
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
            }
        </tr>
    }
</table>
