@model TSB100_lab.DiaryContent
@{
    ViewBag.Title = "Nytt inlägg";
}
<h1>Skapa nytt inlägg</h1>

@using (Html.BeginForm())
{
    <div>
        <div>Text: </div>
        <div>@Html.TextAreaFor(m => m.Entry)</div>
    </div>
    //Entry marked as important will show up in bold text
    <div>
        <div>Viktigt inlägg: @Html.CheckBoxFor(m => m.Important)</div>
    </div>
    <div>
        <input type="submit" value="Skapa inlägg" class="btn btn-default" />
    </div>
}