@model TSB100_lab.DiaryContent

<h1>Skapa nytt inlägg</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div>Text: </div>
        <div>@Html.EditorFor(m => m.Entry)</div>
    </div>

    <div class="row">
        <div>Viktigt inlägg: @Html.CheckBoxFor(m => m.Important)</div>
    </div>
    <div class="row">
        <input type="submit" value="Skapa inlägg" class="btn btn-default" />
    </div>
}