@{
    ViewBag.Title = "Startsida";
}

<div class="indexpage">
    <h1>Gemensam Dagbok</h1>
    <img src="~/Content/Custom/diary.jpg" style="width: 50%" class="img-rounded" alt="diary">
</div>

<div >
    <div style="text-align: center">
        <h2>TSB100 Repetitionsuppgift</h2>
        <p class="introduction">
            Denna sida inehåller en tabell som visar inlägg från sidans användare.
            Det finns i denna iteration av sidan endast två användare och inget sätt att skapa nya.<br />
            Inlägg i databasen kan skapas, ändras och raderas. Det finns det två tjänster kopplade till sidan som också visar tabeller.
            Dessa kan ej modifieras.<br /> Användarroller och diverse annat är inte implementerat. Det finns i nuläget några hårdkodade lösningar.<br />
        </p>
        <p class="obs">Logga in med: </p>
        <p class="obs">användarnamn: admin || Lösenord: admin</p>
        <p class="obs">användarnamn: John_doe || Lösenord: password123</p>
    </div>
</div>